Repository elastic/apm-agent-nodejs, pull requests merged in 2025-03, with the labels that each got.

#4478 [docs] Add the new docs CI checks
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Labels: Team:Docs

#4509 Fixes #4508: Ensure `return` in binding definitions is not null or…
  lib/instrumentation/azure-functions.js
Labels: community

#4526 Updates navigation titles for release notes
  docs/release-notes/breaking-changes.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
Labels: Team:Docs

#4523 [docs] Add `CHANGELOG.md`
  CHANGELOG.md
Labels: docs, Team:Docs
